<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_URI} ^/admin-login(/?.*)$ [NC]
  RewriteCond %{REQUEST_URI} !^/admin-login/dist/ [NC]
  RewriteRule ^admin-login(/?.*)$ admin-login/dist$1 [L]

  RewriteCond %{REQUEST_URI} ^/admin-login/dist/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^admin-login/dist/.*$ admin-login/dist/index.html [L]

  RewriteCond %{REQUEST_URI} ^/point-of-sale(/?.*)$ [NC]
  RewriteCond %{REQUEST_URI} !^/point-of-sale/dist/ [NC]
  RewriteRule ^point-of-sale(/?.*)$ point-of-sale/dist$1 [L]

  RewriteCond %{REQUEST_URI} ^/point-of-sale/dist/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^point-of-sale/dist/.*$ point-of-sale/dist/index.html [L]

  RewriteCond %{REQUEST_URI} !^/admin-login [NC]
  RewriteCond %{REQUEST_URI} !^/point-of-sale [NC]
  RewriteCond %{REQUEST_URI} !^/dist/ [NC]
  RewriteRule ^(.*)$ dist/$1 [L]

  RewriteCond %{REQUEST_URI} ^/dist/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^dist/.*$ dist/index.html [L]
</IfModule>